{% extends "base.html" %}

{% block content %}
<div class="card col-md-6 offset-md-3  border-dark mb-3">
    <div class="card-header text-bg-dark mb-3">
    <h4>Name : {{ customer_record.first_name }}{{ customer_record.last_name }}</h3>
    </div>
    <div class="card-body">
      <h6 class="card-title">Phone : {{ customer_record.phone }}</h6>
      <h6 class="card-title">Address : {{ customer_record.address }}</h6>
      <h6 class="card-title">City : {{ customer_record.city}}</h6>
      <h6 class="card-title">State : {{ customer_record.state }}</h6>
      <h6 class="card-title">Zipcode : {{ customer_record.zipcode }}</h6>
      <h6 class="card-title">Registered_At : {{ customer_record.created_at }}</h6>
      <h6 class="card-title text-end">{{ customer_record.id }}</h6>
    </div>
  </div>
  <div class = "col-md-6 offset-md-6  border-dark mb-3">
  <a href = "{% url "delete_record" customer_record.id %}" class = "btn btn-danger">Delete Record</a>
  <a href = "{% url "update_record" customer_record.id %}" class = "btn btn-dark">Update Record</a>
  <a href = "{% url "home" %}" class = "btn btn-dark">Back</a>
  </div>

{% endblock %}